.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin: 20px;

  &__wrap {
    &--outer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    &--inner {
      display: flex;
      flex-direction: row;

      img {
        width: 100%;
        min-height: 200px;
      }
    }
  }
}